.swiper-button-next,.swiper-button-prev{
    background-color: #DC143C;
    width: 40px;
    height: 60px;
    font-size: 12px;
    color: white;
    border-radius: 3px;
    border: 1px solid rgb(180, 180, 180);
}
.swiper-button-next::after,.swiper-button-prev::after{
    font-size: 20px;
    font-weight: 500;
    
}
.swiper-button-next:hover,.swiper-button-prev:hover{
    background-color: #77c720;
    color: white;
    transition: 0.2s ease all;
}
